@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-container {
    height: 24px;
  }

  .header-logo {
    margin-right: 76px;
  }

  .addres-list {
    margin-left: 332px;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 0;
    align-items: center;
  }

  .header-mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .header-tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .studio-current::after {
    bottom: 0px;
    margin-bottom: -25px;
  }

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    min-height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgroundhero.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-dsk2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    margin-bottom: 48px;
    width: 496px;
  }

  .section-first {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section-first-item::before {
    display: block;
    content: "";
    height: 112px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .icon-antenna::before {
    background-image: url(../images/antenna.svg);
    background-size: 64px;
  }

  .icon-clock::before {
    background-image: url(../images/clock.svg);
    background-size: 64px;
  }

  .icon-diagram::before {
    background-image: url(../images/diagram.svg);
    background-size: 64px;
  }

  .icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
    background-size: 64px;
  }

  .section-first-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);
    margin-bottom: var(--basic-margin-text);
  }
  .section-first-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    width: 264px;
  }

  .section-first-item {
    margin-bottom: 0;
  }

  .section-second {
    display: flex;
    padding-bottom: 120px;
  }
  .section-second-tittle {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-title-color);
    margin-bottom: 72px;
    text-align: center;
  }

  .section-second-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .section-third {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list {
    flex-direction: row;
    gap: 24px;
    width: 1128px;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    flex-wrap: nowrap;
    padding-left: 15px;
    column-gap: 0;
    row-gap: 0;
  }

  .footer-container-logo {
    margin-right: 120px;
  }

  .footer-social {
    margin-right: 80px;
  }
}
