:root {
  --main-title-color: #fff;
  --secondary-title-color: #2e2f42;
  --main-text-color: #434455;
  --main-backgrounds-color: #2e2f42;
  --secondary-backgrounds-color: #f4f4fd;
  --basic-margin-text: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Header */
.header {
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
}

.header-navigation {
  display: flex;
  flex-direction: row;
}

.header-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-logo span {
  color: #2e2f42;
}
.header-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px 0;
}
.header-link:hover,
.header-link:focus {
  color: #4d5ae5;
}

.studio-current {
  color: #404bbf;
}

.studio-current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: 332px;
  margin-right: 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail:hover,
.header-mail:focus {
  color: #4d5ae5;
}

.header-tel:hover,
.header-tel:focus {
  color: #4d5ae5;
}

/* Header */

/* Hero section */
.hero {
  background: var(--main-backgrounds-color);
  padding: 188px 0;
  max-width: 1440px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/backgroundhero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin: 0 auto 48px auto;
  width: 496px;
  display: block;
}

.hero-btn {
  min-width: 169px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  margin: 0 auto;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #404bbf;
}

/* Hero section */

/* Section first */
.section-first {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-first-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.section-first-item::before {
  display: block;
  content: "";
  height: 112px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
  background-size: 64px;
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
  background-size: 64px;
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
  background-size: 64px;
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
  background-size: 64px;
}

.section-first-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  margin-bottom: var(--basic-margin-text);
}
.section-first-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  width: 264px;
}

/* Section-first */

/* Section second */
.section-second {
  padding-bottom: 120px;
}
.section-second-tittle {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-title-color);
  margin-bottom: 72px;
  text-align: center;
}

.section-second-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

/* Section second */

/* Section third */
.section-third {
  background: var(--secondary-backgrounds-color);
  padding: 120px 0 110px 0;
}
.section-third-tittle {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-title-color);
  margin-bottom: 72px;
  text-align: center;
}

.section-third-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: var(--basic-margin-text);
}
.section-third-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.section-third-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.section-third-container {
  display: flex;
  flex-direction: column;
}

.section-third-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-title-color);
  padding: 32px 16px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.section-third-icon-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  margin-top: 8px;
}

.section-third-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-third-link:hover,
.section-third-link:focus {
  background-color: #404bbf;
}

.st-icon {
  fill: currentColor;
}

/* Section third */

/* Section customers */
.section-customers {
  padding: 130px 0 120px 0;
}

.customers-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: auto;
}

.customers-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  color: #404bbf;
  border: 1px solid #404bbf;
  border-radius: 4px;
}

.customers-icon {
  fill: currentColor;
}

/* Section customers */
/* footer */
.footer-container {
  display: flex;
  flex-direction: row;
}
.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.footer-logo span {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  width: 264px;
}

.footer-container-logo {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
}

.footer-social {
  margin-right: 80px;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-icon-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: currentColor;
}

.footer-sub {
  margin-bottom: 8px;
}

.footer-label span {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: #2e2f42;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #ffffff;
}

.footer-input::placeholder {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
}

.footer-control {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.footer-btn {
  display: flex;
  width: 165px;
  height: 40px;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover {
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #404bbf;
}

.sub-icon {
  width: 24px;
  height: 24px;
  margin-top: 8px;
}

.ftr-btn-tx {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-top: 8px;
  padding-left: 24px;
  margin-right: 16px;
}
/* footer */

/* Portfolio */

/*  Prt Section 1 */

.portfolio-section-first {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-section-first-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: #404bbf;
  color: #ffffff;
}

/* Prt Section second */
.portfolio-section-second-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  margin-bottom: 8px;
}
.portfolio-section-second-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.portfolio-section-second-lisst {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-section-second-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: 0;
}

.portfolio-section-second-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section-second-link:hover,
.portfolio-section-second-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.prtss-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.prtsf-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  padding-top: 93px;
}

.portfolio-current {
  color: #404bbf;
}

.portfolio-current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px 164px 32px;
}

.products:hover .product-overlay {
  transform: translateY(0%);
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-button-close {
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  fill: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-button-close:hover,
.modal-button-close:focus {
  background-color: #404bbf;
  border: #404bbf;
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-group {
  margin-bottom: 8px;
}

.form-input {
  width: 360px;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-top: 11px;
  padding-left: 38px;
  padding-bottom: 11px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-tittle {
  color: #8e8f99;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.04em;
}

.form-textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-label {
  display: block;
}

.form-textarea {
  width: 360px;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-top: 11px;
  padding-left: 16px;
  padding-bottom: 11px;
  resize: none;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 4px;
}

.form-control {
  position: relative;
  margin-top: 4px;
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}

.form-input:focus + .form-icon {
  fill: #4d5ae5;
}

.form-textarea:focus {
  border-color: #4d5ae5;
}

.form-textarea:focus + .form-icon {
  fill: #4d5ae5;
}

.form-box {
  margin-top: 16px;
  margin-bottom: 24px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-items: center;
}

.checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: #f4f4fd;
  border: 1px solid rgba(46, 47, 66, 1);
  border-radius: 2px;
  margin-right: 8px;
}

.form-check:checked + .checkbox-icon {
  border-color: transparent;
  background-color: #404bbf;
  background-image: url(../images/click.svg);
  background-size: contain;
  background-origin: border-box;
}

.form-btn {
  display: block;
  width: 169px;
  height: 56px;
  padding: 16px, 32px, 16px, 32px;
  margin: 24px auto 0px auto;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover,
.form-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #404bbf;
}

.checkbox-policy {
  color: #4d5ae5;
}
/* Modal */
